<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text ="${user.name}"></li>
        <li th:text ="${user.lastname}"></li>
        <li th:if = "${user.email !=null]}" th:text ="${user.email}"></li> //si el user.email es distinto de null que lo muestre
   <!-- <li th:if = "${not (user.email !=null)]}" th:text ="${'no tiene email'}"></li> //si es igual a null lo mostramos usando negacion -->
        <li th:if = "${user.email == null}" th:text ="${'no tiene email'}"></li> //es lo mismo a lo anterior sin negacion
    </ul>
</body>
</html>